.dashboard__container {
  width: calc(100vw - 50px);
  height: calc(90vh - 30px);
  margin: 15px;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: crimson;
  display: flex;
  flex-direction: column;
}

.dashboard__menu {
  background-color: aqua;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.dashboard__menu li {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.item__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.dashboard__menu li p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.dashboard__menu li:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.dashboard__graphs {
  display: flex;
  flex: 1;
}
