<section class="players-stats">
  <h2 style="text-align: center">Player's List</h2>
  <div class="players-stats--menu">
    <div class="players-stats--menu--option">
      <p
        style="margin: 0; line-height: 2.5; display: flex; align-items: center"
      >
        Team:
      </p>
      <mat-button-toggle-group
        appearance="legacy"
        name="fontStyle"
        aria-label="Font Style"
        value="teamOne"
      >
        <mat-button-toggle value="teamOne">Team 1</mat-button-toggle>
        <mat-button-toggle value="teamTwo">Team 2</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="players-stats--menu--option">
      <p
        style="margin: 0; line-height: 2.5; display: flex; align-items: center"
      >
        Statistics:
      </p>
      <mat-button-toggle-group
        appearance="legacy"
        name="fontStyle"
        aria-label="Font Style"
        value="general"
      >
        <mat-button-toggle value="general">General Stats</mat-button-toggle>
        <mat-button-toggle value="heterogenous"
          >Heterogenous Stats</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Posição</th>
        <th>Número da Camisa</th>
        <th>Gols Marcados</th>
        <th>Assistências</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cristiano Ronaldo</td>
        <td>Atacante</td>
        <td>7</td>
        <td>30</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Lionel Messi</td>
        <td>Meio-Campista</td>
        <td>10</td>
        <td>25</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Neymar Jr.</td>
        <td>Atacante</td>
        <td>11</td>
        <td>20</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Kevin De Bruyne</td>
        <td>Meio-Campista</td>
        <td>17</td>
        <td>15</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Sergio Ramos</td>
        <td>Defensor</td>
        <td>4</td>
        <td>5</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Cristiano Ronaldo</td>
        <td>Atacante</td>
        <td>7</td>
        <td>30</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Lionel Messi</td>
        <td>Meio-Campista</td>
        <td>10</td>
        <td>25</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Neymar Jr.</td>
        <td>Atacante</td>
        <td>11</td>
        <td>20</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Kevin De Bruyne</td>
        <td>Meio-Campista</td>
        <td>17</td>
        <td>15</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Sergio Ramos</td>
        <td>Defensor</td>
        <td>4</td>
        <td>5</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Cristiano Ronaldo</td>
        <td>Atacante</td>
        <td>7</td>
        <td>30</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Lionel Messi</td>
        <td>Meio-Campista</td>
        <td>10</td>
        <td>25</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Neymar Jr.</td>
        <td>Atacante</td>
        <td>11</td>
        <td>20</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Kevin De Bruyne</td>
        <td>Meio-Campista</td>
        <td>17</td>
        <td>15</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Sergio Ramos</td>
        <td>Defensor</td>
        <td>4</td>
        <td>5</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Cristiano Ronaldo</td>
        <td>Atacante</td>
        <td>7</td>
        <td>30</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Lionel Messi</td>
        <td>Meio-Campista</td>
        <td>10</td>
        <td>25</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Neymar Jr.</td>
        <td>Atacante</td>
        <td>11</td>
        <td>20</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</section>
