<!--
<main class="content">
  <section class="general">
    <h2 style="text-align: center">Match Stats</h2>
    <div>
      <table>
        <thead>
          <th>{{ data.ourTeamName }}</th>
          <th>Stat</th>
          <th>{{ data.opponentTeamName }}</th>
        </thead>
        <tbody>
          <tr>
            <td>{{ data.ourNumberGoals }}</td>
            <td>Goals</td>
            <td>{{ data.opponentNumberGoals }}</td>
          </tr>
          <tr>
            <td>{{ data.shots.ourShots }}</td>
            <td>Shots</td>
            <td>{{ data.shots.opponentShots }}</td>
          </tr>
          <tr>
            <td>{{ data.shots.ourShotsOnTarget }}</td>
            <td>Shots On Goal</td>
            <td>{{ data.shots.opponentShotsOnTarget }}</td>
          </tr>
          <tr>
            <td>{{ data.passes.ourPasses }}</td>
            <td>Passes</td>
            <td>{{ data.passes.opponentPasses }}</td>
          </tr>
          <tr>
            <td>{{ data.passes.ourCorrectPasses }}</td>
            <td>Corrected Passes</td>
            <td>{{ data.passes.opponentCorrectPasses }}</td>
          </tr>
          <tr>
            <td>{{ data.passes.ourMissedPasses }}</td>
            <td>Missed Passes</td>
            <td>{{ data.passes.opponentMissedPasses }}</td>
          </tr>
          <tr>
            <td>{{ data.passes.ourPercentualCorrectedPasses }}%</td>
            <td>Passes Precision</td>
            <td>{{ data.passes.opponentPercentualCorrectedPasses }}%</td>
          </tr>
          <tr>
            <td>{{ data.ballPossession.ourBallPossession }}</td>
            <td>Time with Ball Possession</td>
            <td>{{ data.ballPossession.opponentBallPossession }}</td>
          </tr>
          <tr>
            <td>{{ data.ballPossession.ourBallPossessionPercentual }}</td>
            <td>Time with Ball Possession %</td>
            <td>
              {{ data.ballPossession.opponentBallPossessionPercentual }}
            </td>
          </tr>
          <tr>
            <td>{{ data.ourFouls }}</td>
            <td>Fouls</td>
            <td>{{ data.opponentFouls }}</td>
          </tr>
          <tr>
            <td>{{ data.ourCorners }}</td>
            <td>Corners</td>
            <td>{{ data.opponentCorners }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
-->
<main class="inprogress__container"><h1>In Progress</h1></main>
