<header class="header">
  <div class="header__logo">
    <a routerLink="/">{{ title }}</a>
  </div>
  <nav class="header__nav">
    <a>Upload Json: <input type="file" (change)="onFileChange($event)" /></a>

    <a routerLink="/csvsaver">CSVSaver</a>
    <a routerLink="/ibotsdata">iBots Data</a>
    <a routerLink="/about">About</a>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <p>Web Dashboard for RoboCup 2D Log Data</p>
  <p>&copy; 2024 iBots UFT. MIT License.</p>
  <p>
    &copy; 2024 Érick Santos Marçal
    <a href="https://github.com/erarich">erarich</a>. MIT License.
  </p>
</footer>
