header {
  background-color: #333;
  color: rgb(243, 243, 193);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo :hover {
  color: #ec7f7f;
}

.header__logo a {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(243, 243, 193);
}

.header__nav {
  display: flex;
}

.header__nav a {
  color: rgb(243, 243, 193);
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

footer {
  position: relative;
  bottom: 0px;
  background-color: #333;
  color: rgb(243, 243, 193);
  padding: 10px;
}
